extends layout

block content
  ul
    li
      a(href='/#/home') Home
    li
      a(href='/#/products') Men 
    li
      a(href='/#/products') Women
    li
      a(href='/#/products') Boys 
    li
      a(href='/#/products') Girls
    li
      a(href='/#/basket') Basket
    li
      a(href='/#/login') Login
    li
      a(href='/#/register') Register

  div(ng-view)



