<h1>Please Sign In</h1>
<div class="container">

	
	<!--<form action="">-->
		<div class="row">
			<div class="col-sm-6">
				<div class="alert alert-warning" ng-show="loginError">
					<span class="glyphicon glyphicon-exclamation-sign"></span>{{" " + loginError}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="username">E-mail address <small>(required)</small></label>
				<input type="text" ng-model="user.username" id="username" name="username" placeholder="*Your e-mail address" class="form-control">
				<p>
				<label for="password">Password <small>(required)</small></label>
				<input type="password" ng-model="user.password" id="password" name="password" placeholder="*Choose your password" class="form-control">
			</div>
		</div>
		<div class="row">	
			<div class="col-sm-6 text-right">
				<button ng-click="login(user)" class="btn btn-default">Sign-In</button>
				<a href="#/register" class="btn btn-default">Join Up</a>
			</div>
		</div>
	<!--</form>-->
</div>