<h1>Register</h1>
<div class="container">
	<form action="">
		<div class="row">
			<div class="col-sm-6">
				<label for="username">E-mail address <small>(required)</small></label>
				<input type="text" id="username" name="username" placeholder="*Your e-mail address" class="form-control">
				<p>
				<label for="password">Password <small>(required)</small></label>
				<input type="password" id="password" name="password" placeholder="*Choose your password" class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="streetname">Street Name <small>(required)</small></label>
				<input type="text" id="streetname" name="streetname" placeholder="*House Number and Street Name" class="form-control">
				<p>
				<label for="town">Town <small>(required)</small></label>
				<input type="text" id="town" name="town" placeholder="*Town" class="form-control">
				<label for="town">City <small>(required)</small></label>
				<input type="text" id="city" name="city" placeholder="*City" class="form-control">
				<label for="postcode">PostCode <small>(required)</small></label>
				<input type="text" id="postcode" name="postcode" placeholder="*PostCode" class="form-control">
				<label for="telephone">Telephone <small>(required)</small></label>
				<input type="text" id="telephone" name="telephone" placeholder="*Telephone" class="form-control">
			</div>
		</div>
		
		<div class="row">	
			<div class="col-sm-6 text-right">
				<button class="btn btn-default">Join Up</button>
			</div>
		</div>
	</form>
</div>